<a href="https://colab.research.google.com/github/samehzen/HomeWorks/blob/main/%D0%BF%D0%BE%D0%B2%D1%82%D0%BE%D1%80%D0%B8%D0%BD%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3

2

In [ ]:
a=float(input())
if a>0 :
  s=a**2
  print(s)
else:
  print(none)

5
25.0

begin 8

In [ ]:
def artithmetic_mean(a, b):
    return (a + b) / 2
    result = artithmetic_mean(num1, num2)
print(result)

5.0

begin 9

In [ ]:
import math
def g(a,b) :
   if a<0 and b<0 :
    return None
    return math_sqrt(a*b)
a=8
b=0
print(g(a,b))

None

begin 10

In [ ]:
a= float(input())
b= float(input())
if a!=0 and b!=0 :
  a2=a**2
  b2=b**2
  print(a2+b2)
  print(a2-b2)
  print(a2*b2)
  print(a2/b2)
else :
  print(none)

3
5
34.0
-16.0
225.0
0.36

begin 11

In [ ]:
a= float(input())
b= float(input())
if a!=0 and b!=0 :
  a_abs=abs(a)
  b_abs=abs(b)
  print(a_abs+b_abs)
  print(a_abs-b_abs)
  print(a_abs*b_abs)
  print(a_abs/b_abs)
else :
  print(none)

3
5
8.0
-2.0
15.0
0.6

# 4

10

In [ ]:
a=int(input())
if 100<=abs(a)<=999 :
    a1=abs(a)%10
    a2=(abs(a)//10)%10
    print(a1)
    print(a2)
else:
  print(None)

555
5
5

11

In [ ]:
a=int(input())
if 100<=abs(a)<=999 :
    a1=abs(a)%10
    a2=(abs(a)//10)%10
    a3=abs(a)//100
    sum=a1+a2+a3
    dig=a1*a2*a3
    print(a1)
    print(a2)
    print(a3)
    print(sum)
    print(dig)

else:
  print(None)

123
3
2
1
6
6

12

In [ ]:
a=int(input())
if 100<=abs(a)<=999 :
  rev=str(abs(a))[::-1]
  print(rev)

887
788

13

In [ ]:
a=int(input())
if 100<=abs(a)<=999 :
   a3=abs(a)//100
   a1=abs(a)%100
   new=a1*10+a3
   print(new)

123
231

14

In [ ]:
a=int(input())
if 100<=abs(a)<=999 :
   a1=abs(a)//10
   a2=abs(a)%10
   new=a2*100+a1
   print(new)

123
312

# 5

12

In [ ]:
A=int(input())
B=int(input())
C=int(input())
if A>0 and B>0 and C>0 :
  print('true')
else:
     print('fulse')

5
0
5
fulse

13

In [ ]:
A=int(input())
B=int(input())
C=int(input())
if A>0 or B>0 or C>0 :
  print('true')
else:
     print('fulse')

-2
40
0
true

14

In [ ]:
A=int(input())
B=int(input())
C=int(input())
if (A>0) + (B>0) + (C>0) ==1 :
  print ('true')
else :
  print('fuls')

-8
-9
1
true

15

In [ ]:
A=int(input())
B=int(input())
C=int(input())
if (A>0) + (B>0) + (C>0) ==2 :
  print ('true')
else :
  print('fuls')

9
8
-7
true

16

In [ ]:
A=int(input())
if 10<= A <=99 and A%2==0 :
  print('true')
else:
  print('fulse')

16
true

# 6

4

In [ ]:
A=int(input())
B=int(input())
C=int(input())
positiv=0
if A>0:
  positiv +=1
if B>0:
  positiv +=1
if C>0:
  positiv +=1
print(positiv)

2
3
4
3

5

In [ ]:
A=int(input())
B=int(input())
C=int(input())
positiv=0
negative=0
if A>0:
  positiv +=1
elif A<0:
    negative +=1
if B>0:
  positiv +=1
elif B<0:
    negative +=1
if C>0:
  positiv +=1
elif C<0:
    negative +=1
print('positiv',positiv)
print('negative',negative)

5
9
-4
positiv 2
negative 1

6

In [ ]:
A=int(input())
B=int(input())
if A>B:
  print('largest', A)
elif A<B:
    print('largest',B)

2
3
largest 3

7

In [ ]:
A=int(input())
B=int(input())
if A > B :
  print('smaller second num')
elif A < B :
   print('smaller first num')

3
1
smaller second num

8

In [ ]:
A=int(input())
B=int(input())
if A > B :
  print('smaller',B)
  print('largest', A)
elif A < B :
   print('smaller',A)
   print('largest', B)

4
3
smaller 3
largest 4

# 7

1

In [1]:
n = str(input("Введите число из диапазона 1-7: "))
week_days = {
    '1': 'понедельник',
    '2': 'вторник',
    '3': 'среда',
    '4': 'четверг',
    '5': 'пятница',
    '6': 'суббота',
    '7': 'воскресенье'
}
print(week_days[n])

Введите число из диапазона 1-7: 2
вторник

2

In [6]:
K = int(input())
if K == 1:
    print("плохо")
elif K == 2:
    print("неудовлетворительно")
elif K == 3:
    print("удовлетворительно")
elif K == 4:
    print("хорошо")
elif K == 5:
    print("отлично")
else:
    print("ошибка")

5
отлично

3

In [7]:
month = int(input())

if month == 12 or month == 1 or month == 2:
    print("зима")
elif month == 3 or month == 4 or month == 5:
    print("весна")
elif month == 6 or month == 7 or month == 8:
    print("лето")
elif month == 9 or month == 10 or month == 11:
    print("осень")
else:
    print("ошибка")

6
лето

4

In [13]:
month = int(input("Введите номер месяца (1-12): "))
def days_in_month(month):

    months_31 = {1, 3, 5, 7, 8, 10, 12}

    months_30 = {4, 6, 9, 11}


    if month in months_31:
        return 31
    elif month in months_30:
        return 30
    elif month == 2:
        return 28
    else:
        return "Неверный месяц"

print("Количество дней в этом месяце:", days_in_month(month))

Введите номер месяца (1-12): 6
Количество дней в этом месяце: 30

15

In [36]:
N = int(input("Введите достоинство карты (6≤N≤14): "))
M = int(input("Введите масть карты (1≤M≤4): "))
def card_name(N, M):

    rank = {11: 'валет', 12: 'дама', 13: 'король', 14: 'туз'}
    if N < 11:
        rank_str = str(N)
    else:
        rank_str = rank[N]

    suit = {1: 'пики', 2: 'трефы', 3: 'бубны', 4: 'червы'}

    suit_str = suit[M]

    return f"{rank_str} {suit_str}"


print(card_name(N, M))

Введите достоинство карты (6≤N≤14): 8
Введите масть карты (1≤M≤4): 2
8 трефы

# 8

1

In [37]:
K = int(input("K: "))
N = int(input(" N: "))


for _ in range(N):
    print(K)

K: 5
 N: 4
5
5
5
5

2

In [39]:

A = int(input("Введите число A: "))
B = int(input("Введите число B: "))
count = 0


for number in range(A, B + 1):
    print(number, end=" ")
    count += 1


print("\nКоличество чисел:", count)

Введите число A: 58
Введите число B: 62
58 59 60 61 62
Количество чисел: 5

3

In [48]:
A = int(input())
B = int(input())

count = 0
for number in range(B - 1, A, -1):

    print(number, end=" ")
    count += 1

print(count)

88
99
98 97 96 95 94 93 92 91 90 89 10

4

In [53]:
price_per_kg = float(input())
for i in range(1, 11):
    print(f"{i} кг конфет: {price_per_kg * i:.2f}")

5
1 кг конфет: 5.00
2 кг конфет: 10.00
3 кг конфет: 15.00
4 кг конфет: 20.00
5 кг конфет: 25.00
6 кг конфет: 30.00
7 кг конфет: 35.00
8 кг конфет: 40.00
9 кг конфет: 45.00
10 кг конфет: 50.00

5

In [54]:

price_per_kg = float(input("Введите цену за 1 кг конфет: "))

for i in range(1, 11):
    weight = i / 10
    total_price = price_per_kg * weight
    print(f"Стоимость {weight} кг конфет: {total_price:.2f}")

Введите цену за 1 кг конфет: 5
Стоимость 0.1 кг конфет: 0.50
Стоимость 0.2 кг конфет: 1.00
Стоимость 0.3 кг конфет: 1.50
Стоимость 0.4 кг конфет: 2.00
Стоимость 0.5 кг конфет: 2.50
Стоимость 0.6 кг конфет: 3.00
Стоимость 0.7 кг конфет: 3.50
Стоимость 0.8 кг конфет: 4.00
Стоимость 0.9 кг конфет: 4.50
Стоимость 1.0 кг конфет: 5.00

# 9

1

In [56]:

A = float(input("Введите длину отрезка A: "))
B = float(input("Введите длину отрезка B: "))

count = 0
r = A

while r >= B:
    r -= B
    count += 1


print(f"Длина незанятой части отрезка A: {r:.2f}")

Введите длину отрезка A: 10
Введите длину отрезка B: 1.5
Длина незанятой части отрезка A: 1.00

2

In [58]:

A = float(input("Введите длину отрезка A: "))
B = float(input("Введите длину отрезка B: "))

count = 0


while A >= B:
    A -= B
    count += 1
print(f"Количество отрезков B, размещенных на отрезке A: {count}")

Введите длину отрезка A: 10
Введите длину отрезка B: 2
Количество отрезков B, размещенных на отрезке A: 5

3

In [59]:

N = int(input("  N: "))
K = int(input("  K: "))

quotient = 0
remainder = N

while remainder >= K:
    remainder -= K
    quotient += 1

print(f"  N quotient K: {quotient}")
print(f"  N remainder K: {remainder}")

  N: 10
  K: 2
  N quotient K: 5
  N remainder K: 0

4

In [63]:

N = int(input("  N: "))

while N > 1:
    if N % 3 != 0:
        print("FALSE")
        break
    N //= 3

if N == 1:
    print("TRUE")

  N: 3
TRUE

5

In [74]:
N = int(input("Введите число N: "))

if N & (N - 1) == 0 and N > 0:
    K = 0
    while N > 1:
        N >>= 1
        K += 1
    print(f"Показатель степени K: {K}")
else:
    print("Число N не является степенью 2")

Введите число N: 2
Показатель степени K: 1

# 10

1

In [83]:
sum = 0.0
for i in range(10):
    number = float(input(f"Введите вещественное число {i+1}: "))
    sum += number


print(f"Сумма введенных чисел: {sum}")

Введите вещественное число 1: 3
Введите вещественное число 2: 3
Введите вещественное число 3: 3
Введите вещественное число 4: 3
Введите вещественное число 5: 3
Введите вещественное число 6: 3
Введите вещественное число 7: 3
Введите вещественное число 8: 3
Введите вещественное число 9: 3
Введите вещественное число 10: 3
Сумма введенных чисел: 30.0

2

In [86]:
p = 1.0

# Ввод десяти вещественных чисел и вычисление их произведения
for i in range(10):
    number = float(input(f"Введите вещественное число {i+1}: "))
    p *= number  # Умножаем текущее число на произведение

# Выводим результат
print(f"Произведение введенных чисел: {p}")

Введите вещественное число 1: 1
Введите вещественное число 2: 2
Введите вещественное число 3: 3
Введите вещественное число 4: 2
Введите вещественное число 5: 3
Введите вещественное число 6: 5
Введите вещественное число 7: 1
Введите вещественное число 8: 5
Введите вещественное число 9: 8
Введите вещественное число 10: 0
Произведение введенных чисел: 0.0

3

In [88]:
total_sum = 0.0

for i in range(10):
    number = float(input(f"Введите вещественное число {i+1}: "))
    total_sum += number

average = total_sum / 10
print(f"Среднее арифметическое введенных чисел: {average}")

Введите вещественное число 1: 5
Введите вещественное число 2: 5
Введите вещественное число 3: 5
Введите вещественное число 4: 5
Введите вещественное число 5: 5
Введите вещественное число 6: 5
Введите вещественное число 7: 5
Введите вещественное число 8: 5
Введите вещественное число 9: 5
Введите вещественное число 10: 5
Среднее арифметическое введенных чисел: 5.0

4

In [89]:
N = int(input("Введите количество чисел N: "))

sum = 0.0
p = 1.0

for i in range(N):
    number = float(input(f"Введите вещественное число {i+1}: "))
    sum += number
    p *= number

print(f"Сумма введенных чисел: {sum}")
print(f"Произведение введенных чисел: {p}")

Введите количество чисел N: 5
Введите вещественное число 1: 4
Введите вещественное число 2: 5
Введите вещественное число 3: 2
Введите вещественное число 4: 1
Введите вещественное число 5: 4
Сумма введенных чисел: 16.0
Произведение введенных чисел: 160.0

10

In [96]:
N = int(input("Введите количество чисел N: "))

numbers = list(map(int, input(f"Введите {N} чисел: ").split()))

has_positive = False

for num in numbers:
    if num > 0:
        has_positive = True

if has_positive:
    print("TRUE")
else:
    print("FALSE")

Введите количество чисел N: 5
Введите 5 чисел: -1 -5 -4 -7 -9
FALSE

# 11

1

In [98]:
def PowerA3(A, B):
    B = A ** 3
    return B


numbers = []
for i in range(5):
    num = float(input(f"Введите число {i + 1}: "))
    numbers.append(num)

for i, num in enumerate(numbers):
    result = PowerA3(num, 0)
    print(f"Третья степень числа {num} равна {result}")

Введите число 1: 5
Введите число 2: 5
Введите число 3: 5
Введите число 4: 5
Введите число 5: 5
Третья степень числа 5.0 равна 125.0
Третья степень числа 5.0 равна 125.0
Третья степень числа 5.0 равна 125.0
Третья степень числа 5.0 равна 125.0
Третья степень числа 5.0 равна 125.0

2

In [99]:
def PowerA234(A):
    B = A ** 2
    C = A ** 3
    D = A ** 4
    return B, C, D


numbers = []
for i in range(5):
    num = float(input(f"Введите число {i + 1}: "))
    numbers.append(num)

for i, num in enumerate(numbers):
    B, C, D = PowerA234(num)
    print(f"Число {num}: Вторая степень = {B}, Третья степень = {C}, Четвертая степень = {D}")

Введите число 1: 5
Введите число 2: 2
Введите число 3: 1
Введите число 4: 2
Введите число 5: 5
Число 5.0: Вторая степень = 25.0, Третья степень = 125.0, Четвертая степень = 625.0
Число 2.0: Вторая степень = 4.0, Третья степень = 8.0, Четвертая степень = 16.0
Число 1.0: Вторая степень = 1.0, Третья степень = 1.0, Четвертая степень = 1.0
Число 2.0: Вторая степень = 4.0, Третья степень = 8.0, Четвертая степень = 16.0
Число 5.0: Вторая степень = 25.0, Третья степень = 125.0, Четвертая степень = 625.0

3

In [108]:
import math

def Mean(X, Y):
    AMean = (X + Y) / 2
    GMean = math.sqrt(X * Y)
    return AMean, GMean

A = float(input())
B = float(input())
C = float(input())
D = float(input())

pairs = [(A, B), (A, C), (A, D)]
for X, Y in pairs:
    AMean, GMean = Mean(X, Y)
    print(f"Для чисел {X} и {Y}: Среднее арифметическое = {AMean}, Среднее геометрическое = {GMean}")

5
6
8
7
Для чисел 5.0 и 6.0: Среднее арифметическое = 5.5, Среднее геометрическое = 5.477225575051661
Для чисел 5.0 и 8.0: Среднее арифметическое = 6.5, Среднее геометрическое = 6.324555320336759
Для чисел 5.0 и 7.0: Среднее арифметическое = 6.0, Среднее геометрическое = 5.916079783099616

4

In [109]:
import math

def TrianglePS(a):
    P = 3 * a
    S = (a ** 2 * math.sqrt(3)) / 4
    return P, S

# Ввод данных для трех треугольников
a1 = float(input())
a2 = float(input())
a3 = float(input())

# Вычисление периметров и площадей
for a in [a1, a2, a3]:
    P, S = TrianglePS(a)
    print(f"Периметр: {P}, Площадь: {S}")

4
5
7
Периметр: 12.0, Площадь: 6.928203230275509
Периметр: 15.0, Площадь: 10.825317547305483
Периметр: 21.0, Площадь: 21.217622392718745

8

In [113]:
def AddRightDigit(D, K):
    K = K * 10 + D
    return K

K = int(input("Введите число K: "))
D1 = int(input("Введите цифру D1: "))
D2 = int(input("Введите цифру D2: "))

K = AddRightDigit(D1, K)
print(f"После добавления цифры {D1}: {K}")

K = AddRightDigit(D2, K)
print(f"После добавления цифры {D2}: {K}")

Введите число K: 500
Введите цифру D1: 1
Введите цифру D2: 2
После добавления цифры 1: 5001
После добавления цифры 2: 50012