<a href="https://colab.research.google.com/github/samehzen/HomeWorks/blob/main/%D0%BF%D0%BE%D0%B2%D1%82%D0%BE%D1%80%D0%B8%D0%BD%D1%8F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3

2

In [67]:
a=float(input())
if a>0 :
  s=a**2
  print(s)
else:
  print(none)

5
25.0

begin 8

In [25]:
def artithmetic_mean(a, b):
    return (a + b) / 2
    result = artithmetic_mean(num1, num2)
print(result)

5.0

begin 9

In [63]:
import math
def g(a,b) :
   if a<0 and b<0 :
    return None
    return math_sqrt(a*b)
a=8
b=0
print(g(a,b))

None

begin 10

In [64]:
a= float(input())
b= float(input())
if a!=0 and b!=0 :
  a2=a**2
  b2=b**2
  print(a2+b2)
  print(a2-b2)
  print(a2*b2)
  print(a2/b2)
else :
  print(none)

3
5
34.0
-16.0
225.0
0.36

begin 11

In [66]:
a= float(input())
b= float(input())
if a!=0 and b!=0 :
  a_abs=abs(a)
  b_abs=abs(b)
  print(a_abs+b_abs)
  print(a_abs-b_abs)
  print(a_abs*b_abs)
  print(a_abs/b_abs)
else :
  print(none)

3
5
8.0
-2.0
15.0
0.6

# 4

10

In [72]:
a=int(input())
if 100<=abs(a)<=999 :
    a1=abs(a)%10
    a2=(abs(a)//10)%10
    print(a1)
    print(a2)
else:
  print(None)

555
5
5

11

In [73]:
a=int(input())
if 100<=abs(a)<=999 :
    a1=abs(a)%10
    a2=(abs(a)//10)%10
    a3=abs(a)//100
    sum=a1+a2+a3
    dig=a1*a2*a3
    print(a1)
    print(a2)
    print(a3)
    print(sum)
    print(dig)

else:
  print(None)

123
3
2
1
6
6

12

In [74]:
a=int(input())
if 100<=abs(a)<=999 :
  rev=str(abs(a))[::-1]
  print(rev)

887
788

13

In [77]:
a=int(input())
if 100<=abs(a)<=999 :
   a3=abs(a)//100
   a1=abs(a)%100
   new=a1*10+a3
   print(new)

123
231

14

In [81]:
a=int(input())
if 100<=abs(a)<=999 :
   a1=abs(a)//10
   a2=abs(a)%10
   new=a2*100+a1
   print(new)

123
312

# 5

12

In [96]:
A=int(input())
B=int(input())
C=int(input())
if A>0 and B>0 and C>0 :
  print('true')
else:
     print('fulse')

5
0
5
fulse

13

In [97]:
A=int(input())
B=int(input())
C=int(input())
if A>0 or B>0 or C>0 :
  print('true')
else:
     print('fulse')

-2
40
0
true

14

In [103]:
A=int(input())
B=int(input())
C=int(input())
if (A>0) + (B>0) + (C>0) ==1 :
  print ('true')
else :
  print('fuls')

-8
-9
1
true

15

In [105]:
A=int(input())
B=int(input())
C=int(input())
if (A>0) + (B>0) + (C>0) ==2 :
  print ('true')
else :
  print('fuls')

9
8
-7
true

16

In [113]:
A=int(input())
if 10<= A <=99 and A%2==0 :
  print('true')
else:
  print('fulse')

16
true

# 6

4

In [115]:
A=int(input())
B=int(input())
C=int(input())
positiv=0
if A>0:
  positiv +=1
if B>0:
  positiv +=1
if C>0:
  positiv +=1
print(positiv)

2
3
4
3

5

In [120]:
A=int(input())
B=int(input())
C=int(input())
positiv=0
negative=0
if A>0:
  positiv +=1
elif A<0:
    negative +=1
if B>0:
  positiv +=1
elif B<0:
    negative +=1
if C>0:
  positiv +=1
elif C<0:
    negative +=1
print('positiv',positiv)
print('negative',negative)

5
9
-4
positiv 2
negative 1

6

In [122]:
A=int(input())
B=int(input())
if A>B:
  print('largest', A)
elif A<B:
    print('largest',B)

2
3
largest 3

7

In [127]:
A=int(input())
B=int(input())
if A > B :
  print('smaller second num')
elif A < B :
   print('smaller first num')

3
1
smaller second num

8

In [130]:
A=int(input())
B=int(input())
if A > B :
  print('smaller',B)
  print('largest', A)
elif A < B :
   print('smaller',A)
   print('largest', B)

4
3
smaller 3
largest 4